#blacklist everything
*

!/.gitignore

#then whitelist a few folders, and their subdirectories and key files within


!/boards/
#whitelist the subdirectories of boards
!*/*/
#whitelist kicad pcb files in the boards directory
# !boards/*/
!*.kicad_pcb
!*.kicad_sch
!*.kicad_pro

#whitelist verilog work in the firmware directory
!/firmware/
!*.v
!*.pcf
!*.sh

#whitelist python stuff
!/host software/
!*.py
!*.pkl

#whitelist autodesk inventor files
!/optics chassis/
/optics chassis/*
!/optics chassis/*.ipt

